*{

}
.video-background-container{
    position: relative;
    width: 100%;
    height:100vh;
    overflow: hidden;

}
.video-background-container video{
    position: absolute;
    top:0;
    left: o;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding-top: 20vh;
}
.content h1{
  color:#fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.content p{
    font-style: italic;
    font-size: 30px;
    color: #fff;
}
.content p span{
  color: #000;
}
.button-container{
    text-align: center;
    padding-top: 30px;
    
}
.call-to-action{
    position: relative;
    z-index: 1;
    background-color:purple;
    color: #fff;
    
    padding: 10px 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style:italic;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color1.5s ease-in;
}
.call-to-action:hover{
    background-color: #000;
    color:purple;

}
.call-to-action:focus{
    outline: none;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.carousel-item {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.audio-background-container{
  position: relative;
  width: 100%;
  height:100vh;
  overflow: hidden;

}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
  z-index: 10;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content span{
  color:white;
}